.popup-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 10px;
}

.popup-front {
  width: 742px;
  background: white;
  border-radius: 12px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.head h3 {
  margin: 0;
  font-size: 20px;
}

.head p {
  margin: 0;
  font-size: 13px;
  color: #7C7C7C;
}

.code {
  background: #F4F4F4;
  padding: 8px 16px;
  border-radius: 28px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #414141;
  display: inline-block;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.center-left h4 {
  font-weight: 500;
  font-size: 13px;
  color: #1E1E1E;
  gap: 10px;
}

.center-left p {
  margin: 4px 0 10px 0;
  font-weight: 400;
  font-size: 12px;
  color: #7C7C7C;
  line-height: 18px;
  gap: 10px;
}

.center-right {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pack-heading {
  margin-top: 8px;
}

.label-txt {
  font-size: 13px;
  font-weight: 400;
  color: #7C7C7C;
  display: block;
  margin-bottom: 4px;
}

.name-txt {
  color: red;
  margin-left: 2px;
}

textarea {
  width: 100%;
  height: 84px;
  opacity: 1;
  top: 505px;
  left: 468px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  border-width: 1px;

}

input {
  padding: 6px 8px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-family: 'Poppins';
  font-size: 13px;
  color: #7C7C7C;
  box-sizing: border-box;
}

.name-in {
  width: 324px;
  height: 36px;
  opacity: 1;
  top: 237px;
  left: 808px;
  border-radius: 4px;
  border-width: 1px;


}

/* .qty-row {
  justify-content: flex-start;
  display: flex;

  margin-top: -10px;


} */

.packqty-in {
  width: 132px;
  height: 36px;
  opacity: 1;
  top: 320px;
  left: 808px;
  border-radius: 4px;
  border-width: 1px;

}

.stdpackqty-in {
  width: 132px !important;
  height: 36px;
  opacity: 1;
  top: 320px;
  left: 979px;
  border-radius: 4px;
  border-width: 1px;

}

.packsize-in {
  width: 132px !important;
  height: 36px;
  opacity: 1;
  top: 403px;
  left: 808px;
  border-radius: 4px;
  border-width: 1px;

}

#remarks-box {
  height: 80px;

}

.bottom {
  display: flex;
  justify-content: space-between;

  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: #7C7C7C;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #1E1E1E;
}

.buttons {
  width: 250px;
  height: 38px;
  opacity: 1;
  top: 650px;
  left: 942px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.remarks-label {
  width: 100%;
  height: 24px;
  opacity: 1;
  top: 481px;
  left: 474px;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(124, 124, 124, 1);


}

.active-label {
  width: 36px;
  height: 24px;
  opacity: 1;
  top: 602px;
  left: 491px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(124, 124, 124, 1);

}

textarea::placeholder {
  width: 637px;
  height: 40px;
  opacity: 1;
  top: 520px;
  left: 483px;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(65, 65, 65, 1);

}

#update-butt {
  background: linear-gradient(86.89deg, #583ACF 0%, #7244CE 100%);
  color: white;
  width: 190px;
  opacity: 1;
  top: 650px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #583ACF;
  font-size: 14px;
}

#save-butt {
  background: linear-gradient(86.89deg, #583ACF 0%, #7244CE 100%);
  color: white;
  width: 190px;
  opacity: 1;
  top: 650px;
  border-radius: 4px;
  border: 1px solid #583ACF;
  cursor: pointer;
  font-size: 14px;
}

#cancel-butt {
  background: white;
  color: #583ACF;
  width: 190px;
  opacity: 1;
  top: 650px;
  border-radius: 4px;
  border: 1px solid #583ACF;
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 768px) {
  .popup-front {
    max-width: 60%;
  }

  .content {
    gap: 0px !important;
  }

  .center-right {
    gap: 40px !important;
  }

  .name-in,
  .packqty-in,
  .stdpackqty-in {
    width: auto !important;
  }

  /* .content {
    flex-direction: column;
    gap: 15px;
  }

  .center-left,
  .center-right {
    flex: 1 1 100%;
  }

  .head {
    flex-direction: column;
    align-items: flex-start;
  }

  .head-right {
    text-align: left !important;
  }

  .buttons {
    justify-content: center;
  } */

}