.popup-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-front {
  width: 742px;
  height: auto;
  background: white;
  border-radius: 12px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: 'Poppins', sans-serif;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.head h3 {
  margin: 0;
  font-size: 20px;
}

.code {
  background: #f4f4f4;
  border-radius: 28px;
  padding: 10px 20px;
  font-weight: 500;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.center-left {
  width: 40%;
}

.center-left h4 {
  margin: 0;
  margin-top: 25px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 13px;
  color: #1E1E1E;
}

.center-left p {
  margin: 4px 0 10px 0;
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  color: #7C7C7C;
  line-height: 20px;
}

.center-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #7C7C7C;
}

.qty-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-family: 'Poppins';
  color: #7C7C7C;
}

.remarks {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #7C7C7C;
}

#remarks-box {
  width: 100%;
  height: 80px;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  font-family: Poppins;
  font-size: 13px;
  text-align: left;
  vertical-align: top;
  padding: 6px;
  resize: none;
}

.bottom {
  width: 40px;
  height: 24px;
  opacity: 1;
  top: 602px;
  left: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-weight: 400px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #7C7C7C;


}

.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  left: -4px;
  top: -2px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #1E1E1E;
}

.checkbox span {
  position: relative;
  top: -1px;
}



#cancel-butt,
#save-butt {
  width: 160px;
  height: 38px;
  border-radius: 4px;
  cursor: pointer;
  border: 0.56px solid #583ACF;
}

#save-butt {
  background: linear-gradient(86.89deg, #583ACF 0%, #7244CE 100%);
  color: white;
}

#cancel-butt {
  background: white;
  color: #583ACF;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}