.main-content {
    margin-left: 70px;
    padding: 25px;
    background-color: #f9fafb;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.header {
    font-size: 20px;
    font-weight: 500;
}

.white-strip {
    background-color: #fff;

}

.text-muted {
    font-size: 12px;
    color: #6b6b6b;
}




.records {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #414141;
}

.top-bar {
    margin-top: 16px;
    padding: 16px 20px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.search-box {
    width: 310px;
    height: 36px;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #fff;
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 13px;
    color: #9C9C9C;
}

.search-box img {
    width: 14px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 325px;
}

.vertical-line {
    height: 22px;
    border-left: 1px solid #C8C8C8;
    opacity: 0.8;
}

.filter-icon,
.sort-icon,
.group-icon,
.calendar-icon {
    width: 18px;
    cursor: pointer;
    gap: 20px;
}

.navbar-2 nav {
    margin-top: 3px;
    font-size: 20px;
    font-weight: 500;
}

.advanced-filter {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    font-weight: 500;
    color: #6B6B6B;
    cursor: pointer;
}

.create-btn {
    width: 280px;
    height: 36px;
    background: linear-gradient(93deg, #478EF1, #7C39ED);
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-left: 20px;

}

.create-btn img {
    width: 16px;
}

.dots-menu-nav {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #5A5A5A;
}

.icons {
    gap: 10px;
    margin-left: 15px;
}

.button {
    margin-left: 20px;
}


.table-container {

    background: white;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background: #F1F5F7;
    font-size: 14px;
    font-weight: 600;
    color: #989898;
    padding: 10px;
}

.table td {
    padding: 10px;
    border-bottom: 1px dotted #E1E1E1;
}