.sidebar {
    width: 70px;
    background-color: #ffffff;
    border-right: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 20px 0;

}

.logo-section {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.logo-img {
    width: 46px;
    height: 32px;
    margin-right: 10px;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #324054;
    line-height: 1.3;
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #151515;
    text-decoration: none;
    font-family: Poppins;
    font-size: 13px;
    transition: 0.2s ease;
}

.menu-item img {
    width: 18px;
    height: 18px;
    margin-right: 14px;
    opacity: 0.8;
}

.menu-item:hover {
    background-color: #f3f4f6;
    color: #2563eb;
    border-left: 4px solid #2563eb;
    padding-left: 21px;
}

.menu-item.active {
    background-color: #f3f4f6;
    color: #2563eb;
    border-left: 4px solid #2563eb;
}

.updates-section {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 25px;
    background-color: #f9f9f9;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 15px;
    transition: 0.3s;
}

.updates-section:hover {
    background-color: #f3f4f6;
}

.updates-img {
    width: 18px;
    height: 18px;
    opacity: 0.8;
}

.updates-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #324054;
    font-weight: 500;
}

.updates-dropdown {
    margin-left: auto;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border-top: 1px solid #e6e6e6;
    margin-bottom: 20px;
}

.profile-img img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.profile-data {
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #151515;
    margin: 0;
}

.profile-role {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #71839B;
    margin: 0;
}